@model TestProject.Models.SecureObject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SecureObject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidUntil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidUntil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
