@model TestProject.Models.Komputer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Komputer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.System)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.System)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monitor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monitor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rozdzielczosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rozdzielczosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CzyDziala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzyDziala)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
